/* Development Apps */
section#index-dev-app {
  width: 100%;
}

section#index-dev-app .dev-app-content {
  display: flex;
  margin: 0 auto;
  max-width: 1360px;
}

section#index-dev-app .dev-app-content .dev-app-image {
  overflow: hidden;
  width: 60%;
}

section#index-dev-app .dev-app-content img {
  height: 100%;
  width: 100%;
}

section#index-dev-app .dev-app-content h2 {
  display: inline;
}

section#index-dev-app .dev-app-content .dev-app-content-text {
  background-color: #0b0022;
  color: white;
  flex: 1;
  padding: 60px 80px 80px 80px;
  text-align: right;
  width: 40%;
}

section#index-dev-app .dev-app-content .dev-app-content-text p {
  padding-top: 20px;
}

@media screen and (min-width: 1920px) {
  section#index-dev-app .dev-app-content .dev-app-content-text {
    padding: 100px 160px 80px 160px;
  }
}

@media screen and (min-width: 1360px) {

}

@media screen and (max-width: 1024px) {
  section#index-dev-app .dev-app-content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 700px) {
  section#index-dev-app .dev-app-content {
    background: url("../img/main/imagen-apps_wfcttn_c_scale,w_690.jpg") no-repeat;
    background-size: cover;
    flex-direction: column;
  }

  section#index-dev-app .dev-app-content img {
    display: none;
  }

  section#index-dev-app .dev-app-content .dev-app-content-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px 20px;
    text-align: center;
    width: 100%;
  }

  section#index-dev-app .dev-app-content .dev-app-content-text p {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {

}
