/* Develop Web */
section#index-dev-web {
  width: 100%;
}

section#index-dev-web .dev-web-box {
  background: url("../img/main/imagen-web.jpg") no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1360px;
  padding: 80px 40px 120px;
}

section#index-dev-web .dev-web-content-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0 auto;
  padding: 20px 80px;
  text-align: center;
  width: 75%;
}

section#index-dev-web .dev-web-content-text .separator {
  background-color: #fff;
  height: 1px;
  margin: 2% auto;
  width: 70%;
}

@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1360px) {

}

@media screen and (max-width: 1024px) {
  section#index-dev-web .dev-web-box {
    max-width: 1024px;
  }
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 400px) {
  section#index-dev-web .dev-web-box {
    padding: 0;
  }

  section#index-dev-web .dev-web-content-text {
    padding: 60px 20px;
    width: 100%;
  }

  section#index-dev-web .dev-web-content-text p {
    font-size: .9rem;
    padding-top: 20px;
  }
}
