/* Edit video */
section#index-edit-video {
  width: 100%;
}

section#index-edit-video .edit-video-box {
  background: url("../img/main/imagen-video.jpg") no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1360px;
}

section#index-edit-video .edit-video-content-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-left: 10%;
  padding: 80px 20px;
  text-align: center;
  width: 40%;
}

@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1360px) {

}

@media screen and (max-width: 1024px) {
  section#index-edit-video .edit-video-box {
    max-width: 1024px;
  }
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 400px) {
  section#index-edit-video .edit-video-content-text {
    margin-left: 0;
    width: 100%;
  }

  section#index-edit-video .edit-video-content-text p {
    padding-top: 20px;
  }
}
