/* Header */
header {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 100%;
}

header .header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1360px;
}

header nav a {
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
}

header nav a:hover {
  color: white;
}

@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1360px) {

}

@media screen and (max-width: 1024px) {
  header .header-content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 700px) {
  header nav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 10px;
  }

  header nav a:last-child {
    border-bottom: none;
  }

  header .header-content {
    display: block;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
}
