/* Main head */
section#index-main-head {
  background-color: #0b0022;
  height: calc(100vh - 61px);
  width: 100%;
}

section#index-main-head .main-head-box {
  margin: 0 auto;
  max-width: 1360px;
  padding-bottom: 80px;
}

section#index-main-head h2 {
  background-color: #f9e352;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: normal;
  padding: 40px 5px 5px;
}

section#index-main-head .main-head-content-image, section#index-main-head .main-head-logo {
  align-items: center;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 10%;
}

section#index-main-head .main-head-content-image div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4%;
}

section#index-main-head .main-head-content-image div span {
  padding-top: 30px;
  text-align: center;
}

section#index-main-head .main-head-content-image div, section#index-main-head .main-head-content-image div img {
  height: 100%;
}

section#index-main-head .main-head-logo img {
  height: 100%;
  padding: 0 40px;
}

@media screen and (min-width: 1920px) {
  section#index-main-head .main-head-content-image, section#index-main-head .main-head-logo {
    margin-top: 14%;
  }
}

@media screen and (min-width: 1360px) {

}

@media screen and (max-width: 1024px) {
  section#index-main-head .main-head-box {
    max-width: 1024px;
  }
}

@media screen and (max-width: 700px) {
  section#index-main-head .main-head-content-image div {
    margin: 0 2%;
  }

  section#index-main-head .main-head-content-image img {
    padding: 0 20px;
  }

  section#index-main-head .main-head-content-image div span {
    padding-top: 15px;
  }
}

@media screen and (max-width: 400px) {
  section#index-main-head .main-head-box {
    padding-bottom: 60px;
  }

  section#index-main-head h2 {
    font-size: 1.8rem;
    padding-top: 30px;
    width: 100%;
  }

  section#index-main-head .main-head-content-image {
    flex-direction: column;
    height: auto;
  }

  section#index-main-head .main-head-content-image img {
    padding: 0 10px;
  }

  section#index-main-head .main-head-content-image div {
    margin-top: 10%;
  }

  section#index-main-head .main-head-content-image div img {
    height: 40px;
  }

  section#index-main-head .main-head-content-image div span {
    padding-top: 5px;
  }

  section#index-main-head .main-head-logo {
    margin-top: 20%;
  }
}
