/* Main head */
section#index-main-head {
  background-color: #0b0022;
  width: 100%;
}

section#index-main-head .main-head-box {
  margin: 0 auto;
  max-width: 1360px;
  padding-bottom: 80px;
}

section#index-main-head h2 {
  background-color: #f9e352;
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  padding: 40px 5px 5px;
}

section#index-main-head .main-head-content-image {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 8%;
}

section#index-main-head .main-head-content-image img,
section#index-main-head .main-head-logo img {
  height: 100%;
  padding: 0 40px;
}

@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1360px) {

}

@media screen and (max-width: 1024px) {
  section#index-main-head .main-head-box {
    max-width: 1024px;
  }
}

@media screen and (max-width: 700px) {
  section#index-main-head .main-head-content-image img {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  section#index-main-head .main-head-box {
    padding-bottom: 60px;
  }

  section#index-main-head h2 {
    font-size: 1.8rem;
    padding-top: 30px;
    width: 100%;
  }

  section#index-main-head .main-head-content-image {
    height: 35px;
    margin-top: 12%;
  }

  section#index-main-head .main-head-content-image img {
    padding: 0 10px;
  }
}
