/* Effect visual */
section#index-visual-effect {
  width: 100%;
}

section#index-visual-effect .visual-effect-content {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
}

section#index-visual-effect .visual-effect-content img {
  flex: 1;
  height: 100%;
  width: 60%;
}

section#index-visual-effect .visual-effect-content h2 {
  margin: 0 10px;
}

section#index-visual-effect .visual-effect-content .visual-effect-content-text {
  background-color: #0b0022;
  color: white;
  flex: 1;
  padding: 60px 40px 80px 5px;
  width: 40%;
}

section#index-visual-effect .visual-effect-content .visual-effect-content-text p {
  padding-top: 20px;
  text-align: right;
}
@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1360px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 400px) {
  section#index-visual-effect .visual-effect-content {
    background: url("../img/main/imagen-vfx.jpg") no-repeat;
    background-size: cover;
    flex-direction: column;
  }

  section#index-visual-effect .visual-effect-content img {
    display: none;
  }

  section#index-visual-effect .visual-effect-content .visual-effect-content-text {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 80px 20px;
    width: 100%;
  }
}
