<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
  <!-- Facebook -->
  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <title>Android and Web Developer</title>
  <!-- Search Engine -->
  <meta name="description" content="Android and Web Developer">
  <meta name="image" content="http://theroom.com.ve/img/main/imagen-1.jpg">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="The Room">
  <meta itemprop="description" content="Android and Web Developer">
  <meta itemprop="image" content="http://theroom.com.ve/img/main/imagen-1.jpg">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="The Room">
  <meta name="og:description" content="Android and Web Developer">
  <meta name="og:image" content="http://theroom.com.ve/img/main/imagen-1.jpg">
  <meta name="og:url" content="http://theroom.com.ve">
  <meta name="og:site_name" content="The Room">
  <meta name="og:locale" content="es_ES">
  <meta name="fb:admins" content="100001836920687">
  <meta name="fb:app_id" content="279952112893901">
  <meta name="og:type" content="website">

  <link rel="stylesheet" href="css/sweetalert2.min.css">
  <link rel="stylesheet" href="js/slick/slick.css">
  <link rel="stylesheet" href="js/slick/slick-theme.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/developer.css">
  <script src="js/jquery.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/vue-modal.min.js"></script>
  <script src="js/sweetalert2.min.js"></script>
  <script src="js/slick/slick.js"></script>
</head>
<body>

<div id="developer" class="base-content">
  <header>
    <a class="logo scrollLink" href="http://theroom/developer#home">
      <img src="img/header/the-room-logo-head.png" alt="ico developer">
    </a>
    <nav>
      <a class="btn scrollLink" href="http://theroom/developer#about" onclick="menuResponsive()">
        About
      </a>
      <a class="btn scrollLink" href="http://theroom/developer#skills" onclick="menuResponsive()">
        Skills
      </a>
      <a class="btn scrollLink" href="http://theroom/developer#works" onclick="menuResponsive()">
        Works
      </a>
      <a class="btn scrollLink" href="http://theroom/developer#testimony" onclick="menuResponsive()">
        Testimony
      </a>
      <a class="btn scrollLink" href="http://theroom/developer#contact" onclick="menuResponsive()">
        Contact me
      </a>
      <div class="icons-content">
        <a class="btn ico-header ico-linkedin" href="www.linkedin.com/in/ivans-del-pino" target="_blank"></a>
        <a class="btn ico-header ico-github" href="/#" target="_blank"></a>
        <a class="btn ico-header ico-whatsapp" href="/#" target="_blank"></a>
        <a class="btn ico-header ico-telegram" href="/#" target="_blank"></a>
        <a class="btn ico-header ico-facebook" href="/#" target="_blank"></a>
      </div>
    </nav>
  </header>

  <main v-cloak>
    <div class="content">

      <section id="home">
        <h1>Web, Desktop and Android Developer</h1>
        <p>Frontend, Backend, API rest...</p>
        <img src="img/developer/image_ivans.jpg" alt="image Ivans">
        <a class="button-contact scrollLink" href="http://theroom/developer#contact">Contact Me</a>
      </section>

      <section id="about">
        <h1>Hi, I'm Ivan.</h1>
        <p>I am a person likes to learn and research new topics, write code quickly, recognize my mistakes, adapt to the
          style of work of a company and a development team. I love learning about new technologies, I'm not afraid to
          eliminate obsolete and I'm fascinated by videogames and anime.</p>
      </section>

      <section id="skills">
        <ul>
          <li>
            <img src="img/developer/icons/icons8-source-code-100.png" alt="ico skills">
            <h3>Frontend</h3>
            <h4>Languages</h4>
            <p>HTML</p>
            <p>CSS - SASS</p>
            <p>Javascript</p>
            <h4>Frameworks</h4>
            <p>Vue</p>
            <p>Angular</p>
            <h4>CMS</h4>
            <p>Wordpress</p>
            <h4>Libraries</h4>
            <p>MapBox</p>
            <p>Firebase</p>
            <h4>Control Version</h4>
            <p>Git</p>
            <h4>Deploy</h4>
            <p>Share hosting</p>
            <p>Heroku</p>
          </li>
          <li>
            <img src="img/developer/icons/icons8-cloud-database-100.png" alt="ico skills">
            <h3>Backend</h3>
            <h4>Languages</h4>
            <p>PHP</p>
            <p>MySQL</p>
            <p>MongoDB</p>
            <h4>Frameworks</h4>
            <p>Laravel</p>
            <p>Slim</p>
            <h4>Control Version</h4>
            <p>Git</p>
            <h4>Deploy</h4>
            <p>Share hosting</p>
            <p>Heroku</p>
          </li>
          <li>
            <img src="img/developer/icons/icons8-android-os-100.png" alt="ico skills">
            <h3>Android</h3>
            <h4>Languages</h4>
            <p>Java</p>
            <p>Kotlin</p>
            <p>Dart</p>
            <h4>Base data</h4>
            <p>Sqlite</p>
            <h4>Frameworks</h4>
            <p>Flutter</p>
            <h4>Libraries</h4>
            <p>Retrofit</p>
            <p>Google maps</p>
            <p>Glide</p>
            <p>Picasso</p>
            <p>RXJava</p>
            <h4>Control Version</h4>
            <p>Git</p>
            <h4>Deploy</h4>
            <p>Play store</p>
          </li>
          <li>
            <img src="img/developer/icons/icons8-monitor-100.png" alt="ico skills">
            <h3>Desktop</h3>
            <h4>Languages</h4>
            <p>Java</p>
            <h4>Control Version</h4>
            <p>Git</p>
          </li>
        </ul>
      </section>

      <section id="works">
        <h2>My Recent Work</h2>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
        <div class="divider" @click.prevent="openProject('name')">
          <img src="img/developer/eyes.png" alt="ico developer">
        </div>
      </section>

      <section id="testimony">
        <h2>Testimonials</h2>
        <p>People I've worked with have said some nice things...</p>
        <div class="testimony-slider-slick">
          <div class="content">
            <img src="img/developer/testimony/testimony_1.png" alt="testimony image">
          </div>
          <div class="content">
            <img src="img/developer/testimony/testimony_2.png" alt="testimony image">
          </div>
          <div class="content">
            <img src="img/developer/testimony/testimony_3.png" alt="testimony image">
          </div>
          <div class="content">
            <img src="img/developer/testimony/testimony_4.png" alt="testimony image">
          </div>
        </div>
      </section>

      <section id="contact">
        <h2>Contact Me</h2>
        <p>If you have any questions, please don’t hesitate to contact using form below...</p>
        <form @submit.prevent="sendEmail">
          <label for="name">
            <input class="divider mr-1" type="text" id="name" placeholder="Name" v-model="email.name">
          </label>
          <label for="email">
            <input class="divider" type="text" id="email" placeholder="Email" v-model="email.email">
          </label>
          <label for="subject">
            <input type="text" id="subject" placeholder="Subject" v-model="email.subject">
          </label>
          <label for="message">
            <input type="text" id="message" placeholder="Message" v-model="email.message">
          </label>
          <div class="content-button">
            <button class="button-contact" type="submit">Send</button>
          </div>
        </form>
      </section>
      <!--  Project -->
      <modal height="auto" :scrollable="true" v-cloak name="modal-detail" transition="pop-out">
        <div>Project</div>
      </modal>
    </div>
  </main>
  <footer>
    <span>2019, all rights reserved.</span>
    <img src="img/footer/logo-the-room-footer.png" alt="the room logo footer">
  </footer>
</div>

<script src="js/menu.js"></script>
<script src="js/my-scroll.js"></script>
<script src="js/my-slick.js"></script>
<script>
  Vue.use(window["vue-js-modal"].default)
  new Vue({
    el: '#developer',
    data: {
      email: {
        name: '',
        email: '',
        subject: '',
        message: '',
      }
    },
    methods: {
      openProject(id) {
        console.log(id)
        this.$modal.show('modal-detail')
      },
      sendEmail() {
        jQuery.ajax({
          url: `/php/send-email.php`,
          type: 'POST',
          data: this.email,
          success: data => {
            Swal.fire({
              title: 'Success',
              text: 'Email send',
              confirmButtonText: 'Ok'
            })
            console.log(data)
          },
          error: data => {
            Swal.fire({
              title: 'Error',
              text: 'Sending email',
              confirmButtonText: 'Ok'
            })
            console.log(`Error ${data}`)
          }
        })
      }
    }
  })
</script>
</body>
</html>
